body {
    background-color: black;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTQulJm-Ax4ZpsVUTN426oXeXmAIS58Uxc6j0mPAD-d_MT4mxrP&usqp=CAU");
    background-size: cover;
    height: 100%;
}
input[type=text], input[type=password], input[type=email] {
    background-color: #f1f1f1;
    width: 100%;
    padding: 5px;
    border: none;
}
input[type=date] {
    border-style: solid 1px;
}
#login {
    background-color: darkolivegreen;
    width: 40%;
    text-align: center;
    margin-top: 10px;
    opacity: 0.8;
}
#login:hover {
    opacity: 1.1;
}
#register {
    background-color: darkslategray;
    width: 40%;
    text-align: center;
    margin-top: 10px;
    margin-left: 15px;
    opacity: 0.9;
}
#register:hover {
    opacity: 1.1;
}

