body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}

input[type=text], input[type=password], input[type=email] {
    background-color: #f1f1f1;
    width: 100%;
    padding: 5px;
    border: none;
}
input[type=date] {
    border-style: solid 1px;
}
#register {
    background-color: darkslategray;
    width: 70%;
    text-align: center;
    margin-top: 10px;
    margin-left: 70px;
    opacity: 0.9;
}
#register:hover {
    opacity: 1.1;
}
