body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url("https://i.pinimg.com/originals/c6/f1/9c/c6f19c6c2a9e670ba0b82d474ba1971b.jpg");
}
.review{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}
#logout {
    float: right; 
    margin-right: 5%;
    font-size: x-large;
    font-weight: bolder;
    color: black;
}
#text-area{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    color: black;
    background: transparent;
    width: 60%;
}
.rate {
    float:left;
}
.rate:not(:checked) > input {
    position: absolute;
    display: None;
}
.rate:not(:checked) > label {
    float:right;
    cursor: pointer;
    font-size: 30px;
    /* color: #ccc; */
}
.rate:not(:checked) > label:before { content: '★'; }
.rate > input:checked ~ label { color: #ff6600; }