<!DOCTYPE html>
<html>
    <head>
        <title>Sign Up Form</title>
    </head>
    <body>
        <div class="main">
            <div class="login-content">
                <form method="POST" id="login-form" class="login-form" action="{{ url_for('login') }}">
                    <h2 class="form-title">Login to your account</h2>
                    <p style="color: red;">{{ errorMessage }} </p>
                    
                    <p>
                        <input type="text" name="userName" id="userName" placeholder="UserName" required/>
                    </p>
                    <p>
                        <input type="password" name="password" id="password" placeholder="Password"required />
                    </p>
                    <input type="submit" name="submit" id="submit" class="form-submit" value="Login" />
            </div>
                
            </form>
            <p class="loginhere">Don't Have an account ? <a href="{{ url_for('register') }}" class="regiterhere-link">Register here</a></p>
        </div>
    </body>
</html>